section{

    .section-div1{
       display: grid;
       grid-template-columns: auto auto auto auto;
       .section-img1{
           img{
            width: 100%;
            height: 100%;
           }
       }
       .section-img2{
           img{
            grid-column: 2 / 3;
            width: 100%;
            height: 100%;
           }
       }
       .section-img3{
           img{
            width: 100%;
            height: 100%;
           }
       }
    }
    .section-div2{
        display: grid;
        grid-template-columns: auto auto;
        .section-img4{
            img{
             grid-column: 1 / 2;
             width: 100%;
             height: 100%;
            }
        }
        .section-img5{
            img{
             grid-column: 2 / 3;
             width: 100%;
             height: 100%;
            }
        }
    }
    .section-div3{
        display: grid;
        grid-template-columns: auto auto auto;
        .section-img6{
            img{
             width: 100%;
             height: 100%;
            }
        }
        .section-img7{
            img{
             grid-column: 2 / 3;
             width: 100%;
             height: 100%;
            }
        }
        .section-img8{
            img{
             width: 100%;
             height: 100%;
            }
        }
    }
    .section-div4{
        display: grid;
        grid-template-columns: auto auto;
        .section-img9{
            img{
             grid-column: 1 / 2;
             width: 100%;
             height: 100%;
            }
        }
        .section-img10{
            img{
             grid-column: 2 / 3;
             width: 100%;
             height: 100%;
            }
        }
    }
}
