@import 'header';
@import 'mainstyle';
@import 'section';
@import 'touch';
@import 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #EDEDED;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    background-color: white;
}